<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>基隆市</key>
		<array>
			<string>仁愛區</string>
			<string>信義區</string>
			<string>中正區</string>
			<string>中山區</string>
			<string>安樂區</string>
			<string>暖暖區</string>
			<string>七堵區</string>
		</array>
	</dict>
	<dict>
		<key>臺北市</key>
		<array>
			<string>中正區</string>
			<string>大同區</string>
			<string>中山區</string>
			<string>松山區</string>
			<string>大安區</string>
			<string>萬華區</string>
			<string>信義區</string>
			<string>士林區</string>
			<string>北投區</string>
			<string>內湖區</string>
			<string>南港區</string>
			<string>文山區</string>
		</array>
	</dict>
	<dict>
		<key>新北市</key>
		<array>
			<string>萬里區</string>
			<string>金山區</string>
			<string>板橋區</string>
			<string>汐止區</string>
			<string>深坑區</string>
			<string>石碇區</string>
			<string>瑞芳區</string>
			<string>平溪區</string>
			<string>雙溪區</string>
			<string>貢寮區</string>
			<string>新店區</string>
			<string>坪林區</string>
			<string>烏來區</string>
			<string>永和區</string>
			<string>中和區</string>
			<string>土城區</string>
			<string>三峽區</string>
			<string>樹林區</string>
			<string>鶯歌區</string>
			<string>三重區</string>
			<string>新莊區</string>
			<string>泰山區</string>
			<string>林口區</string>
			<string>蘆洲區</string>
			<string>五股區</string>
			<string>八里區</string>
			<string>淡水區</string>
			<string>三芝區</string>
			<string>石門區</string>
		</array>
	</dict>
	<dict>
		<key>桃園市</key>
		<array>
			<string>中壢區</string>
			<string>平鎮區</string>
			<string>龍潭區</string>
			<string>楊梅區</string>
			<string>新屋區</string>
			<string>觀音區</string>
			<string>桃園區</string>
			<string>龜山區</string>
			<string>八德區</string>
			<string>大溪區</string>
			<string>復興區</string>
			<string>大園區</string>
			<string>蘆竹區</string>
		</array>
	</dict>
	<dict>
		<key>新竹市</key>
		<array>
			<string>東區</string>
			<string>北區</string>
			<string>香山區</string>
		</array>
	</dict>
	<dict>
		<key>新竹縣</key>
		<array>
			<string>竹北市</string>
			<string>湖口鄉</string>
			<string>新豐鄉</string>
			<string>新埔鎮</string>
			<string>關西鎮</string>
			<string>芎林鄉</string>
			<string>寶山鄉</string>
			<string>竹東鎮</string>
			<string>五峰鄉</string>
			<string>橫山鄉</string>
			<string>尖石鄉</string>
			<string>北埔鄉</string>
			<string>峨眉鄉</string>
		</array>
	</dict>
	<dict>
		<key>苗栗縣</key>
		<array>
			<string>竹南鎮</string>
			<string>頭份鎮</string>
			<string>三灣鄉</string>
			<string>南庄鄉</string>
			<string>獅潭鄉</string>
			<string>後龍鎮</string>
			<string>通霄鎮</string>
			<string>苑裡鎮</string>
			<string>苗栗市</string>
			<string>造橋鄉</string>
			<string>頭屋鄉</string>
			<string>公館鄉</string>
			<string>大湖鄉</string>
			<string>泰安鄉</string>
			<string>銅鑼鄉</string>
			<string>三義鄉</string>
			<string>西湖鄉</string>
			<string>卓蘭鎮</string>
		</array>
	</dict>
	<dict>
		<key>臺中市</key>
		<array>
			<string>中區</string>
			<string>東區</string>
			<string>南區</string>
			<string>西區</string>
			<string>北區</string>
			<string>北屯區</string>
			<string>西屯區</string>
			<string>南屯區</string>
			<string>太平區</string>
			<string>大里區</string>
			<string>霧峰區</string>
			<string>烏日區</string>
			<string>豐原區</string>
			<string>后里區</string>
			<string>石岡區</string>
			<string>東勢區</string>
			<string>和平區</string>
			<string>新社區</string>
			<string>潭子區</string>
			<string>大雅區</string>
			<string>神岡區</string>
			<string>大肚區</string>
			<string>沙鹿區</string>
			<string>龍井區</string>
			<string>梧棲區</string>
			<string>清水區</string>
			<string>大甲區</string>
			<string>外埔區</string>
			<string>大安區</string>
		</array>
	</dict>
	<dict>
		<key>彰化縣</key>
		<array>
			<string>彰化市</string>
			<string>芬園鄉</string>
			<string>花壇鄉</string>
			<string>秀水鄉</string>
			<string>鹿港鎮</string>
			<string>福興鄉</string>
			<string>線西鄉</string>
			<string>和美鎮</string>
			<string>伸港鄉</string>
			<string>員林鎮</string>
			<string>社頭鄉</string>
			<string>永靖鄉</string>
			<string>埔心鄉</string>
			<string>溪湖鎮</string>
			<string>大村鄉</string>
			<string>埔鹽鄉</string>
			<string>田中鎮</string>
			<string>北斗鎮</string>
			<string>田尾鄉</string>
			<string>埤頭鄉</string>
			<string>溪州鄉</string>
			<string>竹塘鄉</string>
			<string>二林鎮</string>
			<string>大城鄉</string>
			<string>芳苑鄉</string>
			<string>二水鄉</string>
		</array>
	</dict>
	<dict>
		<key>南投縣</key>
		<array>
			<string>南投市</string>
			<string>中寮鄉</string>
			<string>草屯鎮</string>
			<string>國姓鄉</string>
			<string>埔里鎮</string>
			<string>仁愛鄉</string>
			<string>名間鄉</string>
			<string>集集鎮</string>
			<string>水里鄉</string>
			<string>魚池鄉</string>
			<string>信義鄉</string>
			<string>竹山鎮</string>
			<string>鹿谷鄉</string>
		</array>
	</dict>
	<dict>
		<key>雲林縣</key>
		<array>
			<string>斗南鎮</string>
			<string>大埤鄉</string>
			<string>虎尾鎮</string>
			<string>土庫鎮</string>
			<string>褒忠鄉</string>
			<string>東勢鄉</string>
			<string>臺西鄉</string>
			<string>崙背鄉</string>
			<string>麥寮鄉</string>
			<string>斗六市</string>
			<string>林內鄉</string>
			<string>古坑鄉</string>
			<string>莿桐鄉</string>
			<string>西螺鎮</string>
			<string>二崙鄉</string>
			<string>北港鎮</string>
			<string>水林鄉</string>
			<string>口湖鄉</string>
			<string>四湖鄉</string>
			<string>元長鄉</string>
		</array>
	</dict>
	<dict>
		<key>嘉義市</key>
		<array>
			<string>東區</string>
			<string>西區</string>
		</array>
	</dict>
	<dict>
		<key>嘉義縣</key>
		<array>
			<string>番路鄉</string>
			<string>梅山鄉</string>
			<string>竹崎鄉</string>
			<string>阿里山</string>
			<string>中埔鄉</string>
			<string>大埔鄉</string>
			<string>水上鄉</string>
			<string>鹿草鄉</string>
			<string>太保市</string>
			<string>朴子市</string>
			<string>東石鄉</string>
			<string>六腳鄉</string>
			<string>新港鄉</string>
			<string>民雄鄉</string>
			<string>大林鎮</string>
			<string>溪口鄉</string>
			<string>義竹鄉</string>
			<string>布袋鎮</string>
		</array>
	</dict>
	<dict>
		<key>臺南市</key>
		<array>
			<string>永康區</string>
			<string>歸仁區</string>
			<string>新化區</string>
			<string>左鎮區</string>
			<string>玉井區</string>
			<string>楠西區</string>
			<string>南化區</string>
			<string>仁德區</string>
			<string>關廟區</string>
			<string>龍崎區</string>
			<string>官田區</string>
			<string>麻豆區</string>
			<string>佳里區</string>
			<string>西港區</string>
			<string>七股區</string>
			<string>將軍區</string>
			<string>學甲區</string>
			<string>北門區</string>
			<string>新營區</string>
			<string>後壁區</string>
			<string>白河區</string>
			<string>東山區</string>
			<string>六甲區</string>
			<string>下營區</string>
			<string>柳營區</string>
			<string>鹽水區</string>
			<string>善化區</string>
			<string>大內區</string>
			<string>山上區</string>
			<string>新市區</string>
			<string>安定區</string>
		</array>
	</dict>
	<dict>
		<key>高雄市</key>
		<array>
			<string>新興區</string>
			<string>前金區</string>
			<string>苓雅區</string>
			<string>鹽埕區</string>
			<string>鼓山區</string>
			<string>旗津區</string>
			<string>前鎮區</string>
			<string>三民區</string>
			<string>楠梓區</string>
			<string>小港區</string>
			<string>左營區</string>
			<string>仁武區</string>
			<string>大社區</string>
			<string>岡山區</string>
			<string>路竹區</string>
			<string>阿蓮區</string>
			<string>田寮區</string>
			<string>燕巢區</string>
			<string>橋頭區</string>
			<string>梓官區</string>
			<string>彌陀區</string>
			<string>永安區</string>
			<string>湖內區</string>
			<string>鳳山區</string>
			<string>大寮區</string>
			<string>林園區</string>
			<string>鳥松區</string>
			<string>大樹區</string>
			<string>旗山區</string>
			<string>美濃區</string>
			<string>六龜區</string>
			<string>內門區</string>
			<string>杉林區</string>
			<string>甲仙區</string>
			<string>桃源區</string>
			<string>那瑪夏</string>
			<string>茂林區</string>
			<string>茄萣區</string>
		</array>
	</dict>
	<dict>
		<key>屏東縣</key>
		<array>
			<string>屏東市</string>
			<string>三地門</string>
			<string>霧台鄉</string>
			<string>瑪家鄉</string>
			<string>九如鄉</string>
			<string>里港鄉</string>
			<string>高樹鄉</string>
			<string>鹽埔鄉</string>
			<string>長治鄉</string>
			<string>麟洛鄉</string>
			<string>竹田鄉</string>
			<string>內埔鄉</string>
			<string>萬丹鄉</string>
			<string>潮州鎮</string>
			<string>泰武鄉</string>
			<string>來義鄉</string>
			<string>萬巒鄉</string>
			<string>崁頂鄉</string>
			<string>新埤鄉</string>
			<string>南州鄉</string>
			<string>林邊鄉</string>
			<string>東港鎮</string>
			<string>琉球鄉</string>
			<string>佳冬鄉</string>
			<string>新園鄉</string>
			<string>枋寮鄉</string>
			<string>枋山鄉</string>
			<string>春日鄉</string>
			<string>獅子鄉</string>
			<string>車城鄉</string>
			<string>牡丹鄉</string>
			<string>恆春鎮</string>
			<string>滿州鄉</string>
		</array>
	</dict>
	<dict>
		<key>臺東縣</key>
		<array>
			<string>臺東市</string>
			<string>綠島鄉</string>
			<string>蘭嶼鄉</string>
			<string>延平鄉</string>
			<string>卑南鄉</string>
			<string>鹿野鄉</string>
			<string>關山鎮</string>
			<string>海端鄉</string>
			<string>池上鄉</string>
			<string>東河鄉</string>
			<string>成功鎮</string>
			<string>長濱鄉</string>
			<string>太麻里</string>
			<string>金峰鄉</string>
			<string>大武鄉</string>
			<string>達仁鄉</string>
		</array>
	</dict>
	<dict>
		<key>花蓮縣</key>
		<array>
			<string>花蓮市</string>
			<string>新城鄉</string>
			<string>秀林鄉</string>
			<string>吉安鄉</string>
			<string>壽豐鄉</string>
			<string>鳳林鎮</string>
			<string>光復鄉</string>
			<string>豐濱鄉</string>
			<string>瑞穗鄉</string>
			<string>萬榮鄉</string>
			<string>玉里鎮</string>
			<string>卓溪鄉</string>
			<string>富里鄉</string>
		</array>
	</dict>
	<dict>
		<key>宜蘭縣</key>
		<array>
			<string>宜蘭市</string>
			<string>頭城鎮</string>
			<string>礁溪鄉</string>
			<string>壯圍鄉</string>
			<string>員山鄉</string>
			<string>羅東鎮</string>
			<string>三星鄉</string>
			<string>大同鄉</string>
			<string>五結鄉</string>
			<string>冬山鄉</string>
			<string>蘇澳鎮</string>
			<string>南澳鄉</string>
		</array>
	</dict>
</array>
</plist>
