<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>tableValue</key>
		<string>12</string>
	</dict>
	<dict>
		<key>funName</key>
		<string>開始接單</string>
		<key>imgName</key>
		<string>startMission_white.png</string>
	</dict>
	<dict>
		<key>funName</key>
		<string>訂單篩選</string>
		<key>imgName</key>
		<string>missionSelect_white.png</string>
	</dict>
	<dict>
		<key>funName</key>
		<string>待跑訂單</string>
		<key>imgName</key>
		<string>waitToRun_white.png</string>
	</dict>
	<dict>
		<key>funName</key>
		<string>過去訂單</string>
		<key>imgName</key>
		<string>pastBill_white.png</string>
	</dict>
	<dict>
		<key>funName</key>
		<string>客戶支援</string>
		<key>imgName</key>
		<string>comsumerSupport_white.png</string>
	</dict>
	<dict>
		<key>funName</key>
		<string>最新通知</string>
		<key>imgName</key>
		<string>newNews_white.png</string>
	</dict>
	<dict>
		<key>funName</key>
		<string>關於第一幫</string>
		<key>imgName</key>
		<string>one_white.png</string>
	</dict>
	<dict>
		<key>funName</key>
		<string>與朋友分享</string>
		<key>imgName</key>
		<string>share_white.png</string>
	</dict>
	<dict>
		<key>funName</key>
		<string>我的帳戶</string>
		<key>imgName</key>
		<string>myAccount_white.png</string>
	</dict>
	<dict>
		<key>funName</key>
		<string>我的錢包</string>
		<key>imgName</key>
		<string>myMoney_white.png</string>
	</dict>
	<dict>
		<key>funName</key>
		<string>積分獎勵</string>
		<key>imgName</key>
		<string>rankGift_white.png</string>
	</dict>
	<dict>
		<key>funName</key>
		<string>登出</string>
		<key>imgName</key>
		<string>logout.png</string>
	</dict>
</array>
</plist>
